@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-natural-bg: #FAF7F2;
  --color-natural-text: #3D3D3D;
  --color-natural-green-dark: #2D3A2F;
  --color-natural-green: #5F7161;
  --color-natural-orange: #9D5C0D;
  --color-natural-sand-light: #F0EDE6;
  --color-natural-sand-mid: #D9D1C5;
  --color-natural-sand-dark: #C7C0B3;
  --color-natural-grey: #8A847C;
  --color-natural-border: #EAE3D9;
  --color-natural-stone: #E8E6E1;
  --color-natural-chat-bg: #FDFCFB;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #FAF7F2;
  color: #3D3D3D;
}
